<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<form action="/process_post" method="POST">
URL : <input type="text" name="url">  <br>
Count : <input type="number" name="count">
<input type="submit" value="Submit">

</body>
</html>
